.boost__Section {
  margin-top: 2.5rem;
  background-color: var(--Dark-Violet);
  background-image: url("../../images/bg-boost-desktop.svg");
  background-repeat: repeat;
  width: 100%;
  height: 250px;
}

.boost {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.boost--Info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boost--Info > h1 {
  font-size: 30px;
  color: #ffff;
  padding-bottom: 1.5rem;
}

.boost--Info > button {
  font-size: 18px;
  color: #ffff;
  width: 140px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--Cyan);
  border: none;
}
